@media screen and (min-width: 1400px) {
  body {
    padding: 40px 60px 20px 60px;
  }

  header::after {
    height: 650px;
    width: 1.5px;
    transform: translate(250px, -40%);
  }

  .parent {
    display: grid;
    grid-template-columns: 250px 350px 780px;
    grid-template-rows: repeat(3, 1fr) 24px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .div1 {
    grid-area: 1 / 1 / 5 / 2;
  }
  .div2 {
    grid-area: 1 / 2 / 4 / 3;
    padding-left: 24px;
  }
  .div3 {
    grid-area: 1 / 3 / 4 / 4;
  }
  .div4 {
    grid-area: 4 / 2 / 5 / 4;
    padding-top: 100px;
  }

  .burger-menu {
    display: none;
  }

  .subtitle {
    display: block;
    color: var(--dark-gray-light);
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: -0.025em;
    margin-left: 19px;
  }

  .navigation {
    display: block;
    padding-top: 204px;
    margin-bottom: 104px;
  }

  .navigation-list-item {
    font-size: 14px;
    line-height: 2;
  }

  .navigation-list-item .current {
    color: var(--dark-gray-light);
  }

  .header-wrapper {
    padding-top: 190px;
  }

  .recent-projects-title {
    margin-bottom: 25px;
  }

  /* .recent-projects-item.project-name {
    margin-top: 0;
    margin-bottom: 24px;
  } */

  .project-img {
    min-width: 780px;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 12px;
    line-height: 1.25px;
    padding-left: 24px;
    padding-top: 50px;
  }

  .footer-social-list {
    justify-content: space-between;
  }

  .footer-social-item {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .footer-social-icon {
    width: 18px;
    height: 18px;
    fill: var(--dark-gray-light);
  }

  /* Projects */

  .projects-all-wrapper,
  .certification-all-wrapper {
    padding-left: 20px;
  }

  .min-header::after {
    height: 650px;
    width: 1.5px;
    transform: translate(80px, -35%);
  }

  .without-button-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 70px;
  }

  .flex-projects-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 70px;
  }

  .burger-menu-projects {
    display: block;
    width: 32px;
    height: 32px;
    padding: 0;
    background-color: transparent;
    border: transparent;
    transform: translateY(100%);
    stroke: var(--primary-light);
  }

  .vertical-logo {
    position: absolute;
    top: 80%;
    transform: rotate(-90deg);
    margin-left: -50px;
  }

  .projects-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 60px;
  }

  .projects-list {
    font-size: 14px;
    line-height: 2;
  }

  .projects-item {
    flex-basis: calc((100% - 300px) / 2);
  }

  .projects-item img {
    min-width: 300px;
  }

  /* .load-projects {
    margin-top: 48px;
  } */

  /* About */

  .about-all-wrapper {
    display: flex;

    justify-content: space-between;
    gap: 70px;
  }

  .about-content-wrapper {
    min-width: 530px;
  }

  .about-title {
    font-size: 19px;
    line-height: 1.2;
  }

  .about-text-wrapper {
    margin-top: 100px;
    margin-left: 167px;
    padding-bottom: 20px;
  }

  .flex-pages-wrapper {
    display: flex;
    gap: 70px;
  }

  .about-img {
    min-width: 460px;
    min-height: 270px;
    margin-left: auto;
  }

  footer.about-footer {
    padding-left: 167px;
  }

  /* Contact */

  .contact-form {
    display: flex;
    flex-direction: column;
    min-width: 743px;
    padding-top: 112px;
    padding-left: 125px;
  }

  .address {
    padding-top: 112px;
  }

  footer.contact-footer {
    padding-left: 127px;
  }

  /* Certification */

  .flex-certification-wrapper {
    display: flex;
    gap: 70px;
  }

  .project-gallery.certification {
    padding-left: 178px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 3px;
    column-gap: 300px;
  }

  footer.certification-footer {
    padding-top: 50px;
  }

  /* Modal Window */

  .modal-logo-wrapper {
    display: flex;
    transform: translateY(253px);
    justify-content: space-around;
    align-items: last baseline;
  }

  .modal-list {
    transform: translateY(320px);
    padding-left: 30px;
  }
}
