@media screen and (min-width: 1400px) {
  body {
    padding: 40px 60px 20px 60px;
  }

  header::after {
    height: 650px;
    width: 1.5px;
    transform: translate(200px, -40%);
  }

  .project-header::after {
    height: 650px;
    width: 1.5px;
    transform: translate(80px, -40%);
  }

  .burger-menu {
    display: none;
  }

  .flex-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .subtitle {
    display: block;
    color: var(--dark-gray-light);
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: -0.025em;
    margin-left: 19px;
  }

  .navigation {
    display: block;
    padding-top: 204px;
    margin-bottom: 104px;
    margin-left: 15px;
  }

  .navigation-list-item {
    font-size: 14px;
    line-height: 2;
  }

  .navigation-list-item .current {
    color: var(--dark-gray-light);
  }

  .header-wrapper {
    padding-top: 190px;
  }

  .recent-projects-item.project-name {
    margin-top: 0;
    margin-bottom: 24px;
  }

  .project-img {
    width: 780px;
    height: 500px;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 12px;
    line-height: 1.25px;
    margin-top: 80px;
    padding-left: 274px;
  }

  .footer-social-list {
    justify-content: space-between;
  }

  .footer-social-item {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .footer-social-icon {
    width: 18px;
    height: 18px;
    fill: var(--dark-gray-light);
  }

  /* Projects */

  .projects-body {
    padding: 60px 60px 45px 35px;
  }

  .projects-all-wrapper {
    padding-left: 20px;
  }

  .without-button-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 70px;
  }

  .flex-projects-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 70px;
  }

  .burger-menu-projects {
    display: block;
    width: 32px;
    height: 32px;
    padding: 0;
    background-color: transparent;
    border: transparent;
    transform: translateY(100%);
    stroke: var(--primary-light);
  }

  .projects-logo {
    position: absolute;
    top: 80%;
    transform: rotate(-90deg);
    margin-left: -50px;
  }

  .project-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 60px;
  }

  .projects-list {
    font-size: 14px;
    line-height: 2;
  }

  .projects-item {
    flex-basis: calc((100% - 150px) / 2);
  }

  .projects-item img {
    width: 300px;
    height: 180px;
  }

  .load-projects {
    margin-top: 48px;
  }
}
