@media screen and (max-width: 1399px) {
  body {
    padding: 16px 16px 35px 16px;
  }

  header::after {
    height: 1.5px;
    width: 100vw;
    transform: translateX(-16px);
  }

  .swiper {
    width: 300px;
    height: auto;
    padding-top: 25px;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    display: none;
  }

  .logo {
    margin-bottom: 22px;
  }

  .header-wrapper,
  aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .burger-menu {
    display: block;
    width: 32px;
    height: 32px;
    padding: 0;
    background-color: transparent;
    border: transparent;
    stroke: var(--primary-light);
  }

  .recent-projects-title {
    display: none;
  }

  .recent-projects-item.project-name {
    margin-top: 25px;
  }

  .project-img {
    min-width: 256px;
  }

  footer {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 1.25;
    padding-top: 100px;
  }

  footer p {
    order: 1;
    padding-left: 7px;
  }

  /* Projects */

  .projects-title {
    margin-top: 40px;
    font-size: 14px;
    line-height: 2;
    margin-bottom: 25px;
  }

  .projects-list {
    display: none;
  }

  .projects-gallery {
    display: block;
  }

  .projects-item {
    margin-bottom: 50px;
  }

  /* About */

  .about-title,
  .certification-title {
    margin-top: 39px;
    margin-bottom: 28px;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    color: var(--primary-light);
  }

  .about-text-wrapper {
    margin-bottom: 34px;
  }

  /* Contact  */

  .content-contact-wrapper {
    display: block;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    margin-bottom: 79px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    color: var(--dark-gray-light);
  }
}
