@media screen and (max-width: 1399px) {
  body {
    padding: 16px 16px 35px 16px;
  }

  header::after {
    height: 1.5px;
    width: 100vw;
    transform: translateX(-16px);
  }

  .logo {
    margin-bottom: 22px;
  }

  .header-wrapper,
  aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .burger-menu {
    display: block;
    width: 32px;
    height: 32px;
    padding: 0;
    background-color: transparent;
    border: transparent;
    stroke: var(--primary-light);
  }

  .recent-projects-title {
    margin-top: 50px;
  }

  .recent-projects-list.current {
    margin-top: 325px;
  }

  .recent-projects-item.project-name {
    margin-top: 50px;
  }

  .project-img {
    max-width: 256px;
    transform: translateY(-120%);
    margin: 0 auto;
  }

  .footer-social-list {
    transform: translateY(-250%);
  }

  footer {
    font-size: 12px;
    line-height: 1.25;
    padding-left: 7px;
    transform: translateY(-250%);
  }

  /* Projects */

  .projects-title {
    margin-top: 40px;
    font-size: 14px;
    line-height: 2;
  }

  .projects-list {
    display: none;
  }

  .project-gallery {
    display: block;
    margin-top: 370px;
  }

  .projects-item {
    margin-bottom: 50px;
  }

  .load-projects {
    display: block;
    transform: translateY(-300px);
  }

  /* About */

  .about-title,
  .certification-title {
    margin-top: 39px;
    margin-bottom: 28px;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    color: var(--primary-light);
  }

  footer.about-footer {
    margin-top: 370px;
  }

  .about-text-wrapper {
    margin-bottom: 34px;
  }

  /* Contact  */

  .content-contact-wrapper {
    display: block;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    margin-bottom: 79px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    color: var(--dark-gray-light);
  }

  footer.contact-footer {
    margin-top: 370px;
  }

  /* Certification */

  .project-gallery.certification {
    margin-top: 220px;
  }

  footer.certification-footer {
    transform: translateY(-20%);
  }
}
