:root {
  /* MAIN COLORS */

  --primary-light: #000000;
  --accent-light: #ff3636;

  /* NEUTRAL COLORS */

  --dark-gray-light: #767676;
  --gray-light: #e1e1e1;
  --white-light: #ffffff;

  /* SERVICE COLORS */

  --errors-light: #ff3636;

  /* TYPEFACES */

  --main-font: "Montserrat", sans-serif;
  --logo-font: "Alata", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.recent-projects-list,
.project-gallery {
  list-style: none;
  counter-reset: my-counter;
  margin-left: 15px;
}

.recent-projects-list li:before,
.project-gallery li:before {
  counter-increment: my-counter;
  content: counter(my-counter) " ";
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 7px;
}

body {
  font-family: var(--main-font);
  color: var(--primary-light);
}

header {
  position: relative;
}

header::after,
aside::after {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--gray-light);
}

.visualy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.current {
  color: var(--dark-gray-light);
}

.logo {
  display: inline-block;
  font-family: var(--logo-font);
  font-size: 27px;
  line-height: 1.37;
  letter-spacing: -0.025em;
  margin-bottom: 4px;
}

.logo-accent {
  font-family: var(--logo-font);
  font-size: 27px;
  line-height: 1.37;
  letter-spacing: -0.025em;
  color: var(--accent-light);
}

.subtitle {
  display: none;
}

.navigation {
  display: none;
}

.recent-projects-title {
  margin-left: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 2%;
  color: var(--dark-gray-light);
}

.recent-projects-title::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 8px;
  background-image: url(/images/arrow01.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  margin-left: 4px;
}

.recent-projects-list {
  font-size: 14px;
  line-height: 2;
}

.recent-projects-item-view {
  font-size: 14px;
  line-height: 2;
}

.project-name span {
  font-size: 27px;
  color: var(--accent-light);
}

.footer-social-list {
  display: inline-flex;
  align-items: center;
  width: 134px;
}

.footer-social-item {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.footer-social-icon {
  width: 18px;
  height: 18px;
  fill: var(--dark-gray-light);
}

/* Project */

.projects-title {
  font-weight: 400;
  font-size: 19px;
  line-height: 1.2px;
  margin-bottom: 59px;
}

.load-projects {
  display: block;
  width: 123px;
  height: 41px;
  margin: 0 auto;
  background: #000000;
  border-radius: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  color: var(--white-light);
  cursor: pointer;
}
