:root {
  /* MAIN COLORS */

  --primary-light: #000000;
  --accent-light: #ff3636;

  /* NEUTRAL COLORS */

  --dark-gray-light: #767676;
  --gray-light: #e1e1e1;
  --white-light: #ffffff;

  /* SERVICE COLORS */

  --errors-light: #ff3636;

  /* TYPEFACES */

  --main-font: "Montserrat", sans-serif;
  --logo-font: "Alata", sans-serif;

  /* ANIMATIONS */

  --animation-duration: 500ms;
  --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.recent-projects-list,
.project-gallery {
  list-style: none;
  counter-reset: my-counter;
}

.recent-projects-list li:before,
.project-gallery li:before {
  counter-increment: my-counter;
  content: counter(my-counter) " ";
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 7px;
}

body {
  font-family: var(--main-font);
  color: var(--primary-light);
}

header {
  position: relative;
}

header::after,
aside::after {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--gray-light);
}

picture {
  margin: 0;
}

button {
  cursor: pointer;
}

.visualy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.current {
  color: var(--dark-gray-light);
}

.logo {
  display: inline-block;
  font-family: var(--logo-font);
  font-size: 27px;
  line-height: 1.37;
  letter-spacing: -0.025em;
  margin-bottom: 4px;
}

.logo-accent {
  font-family: var(--logo-font);
  font-size: 27px;
  line-height: 1.37;
  letter-spacing: -0.025em;
  color: var(--accent-light);
}

.subtitle {
  display: none;
}

.navigation {
  display: none;
}

.recent-projects-title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 2%;
  color: var(--dark-gray-light);
}

.recent-projects-title::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 8px;
  background-image: url(/images/arrow01.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  margin-left: 4px;
}

.recent-projects-list {
  font-size: 14px;
  line-height: 2;
  color: var(--primary-light);
}

.recent-projects-item-view {
  font-size: 14px;
  line-height: 2;
  color: var(--primary-light);
}

.project-name span {
  font-size: 27px;
  color: var(--accent-light);
}

.footer-social-list {
  display: inline-flex;
  align-items: center;
  width: 134px;
}

.footer-social-item {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.footer-social-icon {
  width: 18px;
  height: 18px;
  fill: var(--dark-gray-light);
}

/* Project */

.projects-title {
  font-weight: 400;
  font-size: 19px;
  line-height: 1.2px;
  margin-bottom: 59px;
}

.project-name {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.79;
  color: var(--primary-light);
}

.project-name p {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: var(--dark-gray-light);
}

.load-projects {
  display: block;
  width: 123px;
  height: 41px;
  margin: 0 auto;
  background: #000000;
  border-radius: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  color: var(--white-light);
  cursor: pointer;
}

/* About */

.about-text-wrapper span {
  font-size: 14px;
  line-height: 2;
  text-transform: uppercase;
  color: var(--accent-light);
}

.about-text-wrapper h2 {
  margin-bottom: 31px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.79;
  text-transform: uppercase;
  color: var(--primary-light);
}

.about-text-wrapper {
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
}

/* Contact */

.content-contact-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 250px;
}

.contact-form input {
  width: 100%;
  height: 31px;
  margin-bottom: 64px;
  padding: 31px 0;
  border: none;
  border-bottom: 1px solid var(--primary-light);
}

.contact-form textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--primary-light);
  margin-bottom: 39px;
}

.contact-submit-btn {
  width: 85px;
  height: 41px;
  background: var(--primary-light);
  border-radius: 5px;
  color: var(--white-light);
}

.address {
  font-style: normal;
}

.address h2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
}

.address-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  color: var(--dark-gray-light);
}

/* Certification */

.certification-title {
  font-weight: 400;
  font-size: 19px;
  line-height: 1.2px;
}

/* Modal Window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.9);
  transition: opacity var(--animation-duration) var(--animation-timing-function),
    visibility var(--animation-duration) var(--animation-timing-function);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-filtered {
}

.modal-close-btn {
  border: none;
  background-color: transparent;
}

.modal-close-btn-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(0%);
  width: 300px;
  min-height: 100%;
  padding: 24px;
  background-color: var(--white-light);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--animation-duration)
    var(--animation-timing-function);
}

.backdrop.is-hidden .modal {
  transform: translateX(-100%);
}

.modal-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  color: var(--primary-light);
}
